---
import briefcase from '../assets/icons-vectors/briefcase.svg?url';
import home from '../assets/icons-vectors/home.svg?url';
import folder from '../assets/icons-vectors/folder.svg?url';
import spanner from '../assets/icons-vectors/spanner.svg?url';
import notepad from '../assets/icons-vectors/notepad.svg?url';
---

<header class="w-full">
  <ul
    class="flex justify-between p-2 rounded-lg w-1/2 mx-auto outline-2 outline-black-700 bg-neutral-500"
  >
    <li>
      <a href="/#"><img src={home} alt="svg icons" class="w-5 h-5" /></a>
    </li>
    <li>
      <a href="/#"><img src={briefcase} alt="svg icons" class="w-5 h-5" /></a>
    </li>
    <li>
      <a href="/#"><img src={folder} alt="svg icons" class="w-5 h-5" /></a>
    </li>
    <li>
      <a href="/#"><img src={spanner} alt="svg icons" class="w-5 h-5" /></a>
    </li>
    <li>
      <a href="/#"><img src={notepad} alt="svg icons" class="w-5 h-5" /></a>
    </li>
  </ul>
</header>
