---
import fastApi from '../assets/icons-vectors/fastapi.svg?url';
import nodejs from '../assets/icons-vectors/nodejs.svg?url';
import graphql from '../assets/icons-vectors/graphql.svg?url';
import placeholder from '../assets/placeholder.png?url';
---

<section class="h-100">
  <h1 class="text-center mb-3 text-3xl">
    I cut across different stacks and technology
  </h1>
  <div class="flex flex-col lg:flex-row justify-around h-full">
    <div class="outline-2 outline-white p-3 h-5/6">
      <div>
        <img src={placeholder} class="w-full h-50" />
      </div>
      <h2 class="text-center">AI agents</h2>
      <div>lorem ipsum dolor sit avec didi</div>
      <div class="flex">
        <div><img src={fastApi} alt="test image" class="w-10 h-10" /></div>
        <div><img src={fastApi} alt="test image" class="w-10 h-10" /></div>
        <div><img src={fastApi} alt="test image" class="w-10 h-10" /></div>
        <div><img src={fastApi} alt="test image" class="w-10 h-10" /></div>
        <div><img src={fastApi} alt="test image" class="w-10 h-10" /></div>
        <div><img src={fastApi} alt="test image" class="w-10 h-10" /></div>
        <div><img src={fastApi} alt="test image" class="w-10 h-10" /></div>
      </div>
    </div>
    <div class="outline-2 outline-white p-3 h-5/6">
      <div>
        <img src={placeholder} class="w-full h-50" />
      </div>
      <h2 class="text-center">Web products</h2>
      <div>lorem ipsum dolor sit avec didi</div>
      <div class="flex">
        <div><img src={nodejs} alt="test image" class="w-10 h-10" /></div>
        <div><img src={nodejs} alt="test image" class="w-10 h-10" /></div>
        <div><img src={nodejs} alt="test image" class="w-10 h-10" /></div>
        <div><img src={nodejs} alt="test image" class="w-10 h-10" /></div>
        <div><img src={nodejs} alt="test image" class="w-10 h-10" /></div>
        <div><img src={nodejs} alt="test image" class="w-10 h-10" /></div>
        <div><img src={nodejs} alt="test image" class="w-10 h-10" /></div>
      </div>
    </div>
    <div class="outline-2 outline-white p-3 h-5/6">
      <div>
        <img src={placeholder} class="w-full h-50" />
      </div>
      <h2 class="text-center">Backend Engineering</h2>
      <div>lorem ipsum dolor sit avec didi</div>
      <div class="flex">
        <div><img src={graphql} alt="test image" class="w-10 h-10" /></div>
        <div><img src={graphql} alt="test image" class="w-10 h-10" /></div>
        <div><img src={graphql} alt="test image" class="w-10 h-10" /></div>
        <div><img src={graphql} alt="test image" class="w-10 h-10" /></div>
        <div><img src={graphql} alt="test image" class="w-10 h-10" /></div>
        <div><img src={graphql} alt="test image" class="w-10 h-10" /></div>
        <div><img src={graphql} alt="test image" class="w-10 h-10" /></div>
      </div>
    </div>
  </div>
</section>
