---
import PostgresLogo from '../assets/icons-vectors/postgresql.svg?url';
import GoLogo from '../assets/icons-vectors/go.svg?url';
import MysqlLogo from '../assets/icons-vectors/mysql.svg?url';
import NextjsLogo from '../assets/icons-vectors/nextjs.svg?url';
import NodejsLogo from '../assets/icons-vectors/nodejs.svg?url';
import TailwindLogo from '../assets/icons-vectors/tailwindcss.svg?url';
import TypescriptLogo from '../assets/icons-vectors/typescript.svg?url';
import ReactLogo from '../assets/icons-vectors/reactjs.svg?url';
import AstroLogo from '../assets/icons-vectors/astro.svg?url';
import JavascriptLogo from '../assets/icons-vectors/javascript.svg?url';
import FastapiLogo from '../assets/icons-vectors/fastapi.svg?url';
import JestLogo from '../assets/icons-vectors/jest.svg?url';
import MongodbLogo from '../assets/icons-vectors/mongodb.svg?url';
import GraphqlLogo from '../assets/icons-vectors/graphql.svg?url';

---



<section>
    <h2>Skills and Stack</h2>
    <p>The tools i use to bring ideas to life</p>
    <div>
        <div>
            <img class="w-10 h-10" src={ReactLogo} alt="tech logo"/>
            <span>React.js</span>
        </div>
        <div>
            <img class="w-10 h-10" src={NextjsLogo} alt="tech logo"/>
            <span>Next.js</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={AstroLogo} alt="tech logo"/>
            <span>Astro.js</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={TailwindLogo} alt="tech logo"/>
            <span>Tailwind</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={TypescriptLogo} alt="tech logo"/>
            <span>Typescript</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={GoLogo} alt="tech logo"/>
            <span>Go</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={JavascriptLogo} alt="tech logo"/>
            <span>Javascript</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={NodejsLogo} alt="tech logo"/>
            <span>Nodejs</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={FastapiLogo} alt="tech logo"/>
            <span>Fast APi</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={JestLogo} alt="tech logo"/>
            <span>Jest</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={MongodbLogo} alt="tech logo"/>
            <span>Mongodb</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={PostgresLogo} alt="tech logo"/>
            <span>Posgresql</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={MysqlLogo} alt="tech logo"/>
            <span>mysql</span>
        </div>
        <div>
            <img class="w-10 h-10"  src={GraphqlLogo} alt="tech logo"/>
            <span>Graphql</span>
        </div>
    </div>
</section>